.green-report{
    background-color: #6ece76;
}

.dates-report{
    background-color: #E68788;
}
.gray-report{
    background-color:#ddd;/*rgba(239, 239, 239, 0.78);*/
}

.white-report{
    background-color: #ffffff;
}